.detaycontainer {
    text-align: center;
}


.movieTable {
    a {
        text-decoration: none;
        color: black;
    }
}

.movieTable {
    a:hover {
        text-decoration: none;
        color: black;
    }
}

.movieTable {
    td {
        color: black;
    }
}

.movieTable {
    tr :hover {

        font-size: large;
    }

}


.mainmovie {
    text-align: center;
}